@model IEnumerable<Protium.Web.Models.DriverViewModel>

<div class="card">
    <!-- Card header -->
    <div class="card-header border-0">
        <div class="row">
            <div class="col-6">
                <h3 class="mb-0">Driver</h3>
            </div>
            <div class="col-6 text-right">
            
                    <a asp-action="Create" class="btn btn-sm btn-default btn-round btn-icon" data-toggle="tooltip" data-original-title="Create Driver">
                        <span class="btn-inner--icon"><i class="fas fa-user-edit"></i></span>
                        <span class="btn-inner--text">Create Driver</span>
                    </a>
                </div>
        </div>
    </div>
    <!-- Light table -->
    <div class="table-responsive">
        <table class="table align-items-center table-flush">
            <thead class="thead-light">
                <tr>
                    <th>S/N</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Vehicle Plate</th>
                    <th>Start Date</th>
                    <th>Expiration Date</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                    <th>Active</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 0;
                }
                @foreach (var item in Model)
                {
                <tr>
                    <td>@(i = i + 1)</td>
                    <td class="table-user">
                        <b>@Html.DisplayFor(modelItem => item.FirstName)</b>
                    </td>
                     <td class="table-user">
                        <b>@Html.DisplayFor(modelItem => item.LastName)</b>
                    </td>
                     <td class="table-user">
                        <b>@Html.DisplayFor(modelItem => item.VehiclePlate)</b>
                    </td>
                     <td class="table-user">
                        <b>@Html.DisplayFor(modelItem => item.StartDate)</b>
                    </td>
                     <td class="table-user">
                        <b>@Html.DisplayFor(modelItem => item.ExpirationDate)</b>
                    </td>
                     <td class="table-user">
                        <b>@Html.DisplayFor(modelItem => item.CreatedAt)</b>
                    </td>
                     <td class="table-user">
                        <b>@Html.DisplayFor(modelItem => item.UpdatedAt)</b>
                    </td>
                     <td class="table-user">
                        <b>@Html.DisplayFor(modelItem => item.Active)</b>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="table-action" data-toggle="tooltip" data-original-title="Edit Driver">
                            <i class="fas fa-user-edit"></i>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="table-action table-action-delete" data-toggle="tooltip" data-original-title="Delete Driver">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>